<div class="login-container grid">
  <div class="left-section col-12 md:col-6">
    <div class="logo-container">
      <img
        ngSrc="login_logo.webp"
        alt="Logo"
        class="logo"
        width="300"
        height="156"
      />
    </div>
  </div>
  <div class="right-section col-12 md:col-6">
    <div class="p-fluid form-container" style="width: 300px;">
      <p-card header="Selecciona tu rol">
        <div class="role-selection">
         
          <p-button
            label="Facilitator"
            icon="pi pi-user"
            (click)="onRoleSelect('facilitator')"
            class="p-button-raised p-button-info p-mb-3"
          ></p-button>
          
          <p-button
            label="Administrator"
            icon="pi pi-shield"
            (click)="onRoleSelect('administrator')"
            class="p-button-raised p-button-success p-mb-3"
          ></p-button>
         
          <p-button
            label="Citizen"
            icon="pi pi-users"
            (click)="onRoleSelect('citizen')"
            class="p-button-raised p-button-warning p-mb-3"
          ></p-button>
        </div>
      </p-card>
    </div>
  </div>
</div>
