@if(user){
  @let isAdmin=user.role==='administrator';
  @let isFacilitator=user.role==='facilitator';

  <div class="container">
    @if(isFacilitator || isAdmin) {
      <div class="header-controls flex justify-end gap-4">
        <p-button
          routerLink="/events/create"
          label="Create Event"
          icon="pi pi-plus"
          class="btn btn-success"
          aria-label="Create Event"
        ></p-button>
      </div>
    }
  
    <h2 class="heading">Luxury Events</h2>
  
    <div *ngIf="events$ | async as events; else loading" class="event-container">
      <div class="event-list">
        <p-card
          *ngFor="let event of events"
          class="event-card"
        >
          <ng-template pTemplate="header">
            <div class="event-header">
              <span class="event-type">{{ event.type }}</span>
              <span class="event-date">{{ event.date | date: 'short' }}</span>
            </div>
          </ng-template>
          <div class="event-content">
            <h3 class="event-title">{{ event.type }}</h3>
            <p class="event-location">{{ event.location }}</p>
            <div class="event-responsible">
              <strong>{{ event.responsible.name }}</strong> ({{ event.responsible.role }})
              <p>{{ event.responsible.email }}</p>
            </div>
          </div>
          <div class="event-actions">
            @if(isFacilitator || isAdmin) {
              <p-button
                [routerLink]="'/events/edit/' + event.id"
                icon="pi pi-pencil"
                class="btn btn-edit"
                aria-label="Edit Event"
              ></p-button>
              <p-button
              (onClick)="notifyCitizens(event.id)"
              label="Notify"
              icon="pi pi-bell"
              class="btn btn-notify"
              aria-label="Notify Citizens"
            ></p-button>
            }
            @if(isAdmin) {
              <p-button
                (onClick)="confirmDelete(event.id)"
                icon="pi pi-trash"
                class="btn btn-delete"
                aria-label="Delete Event"
              ></p-button>
            }
            
          </div>
        </p-card>
      </div>
    </div>
  
    <ng-template #loading>
      <app-skeleton />
    </ng-template>
  </div>
  <p-confirmDialog header="Confirmation" width="425"></p-confirmDialog>
}


<p-dialog
  header="Enviar Notificación"
  [(visible)]="displayNotificationDialog"
  [modal]="true"
  [style]="{ width: '400px' }"
>
  <div>
    <textarea
      id="notificationMessage"
      [(ngModel)]="notificationMessage"
      rows="4"
      placeholder="Escribe el mensaje..."
      class="p-inputtextarea"
    ></textarea>
  </div>
  
  <p-footer>
    <button
      pButton
      label="Enviar"
      class="p-button-success"
      (click)="sendNotification()"
    ></button>
    <button
      pButton
      label="Cancelar"
      class="p-button-secondary"
      (click)="displayNotificationDialog = false"
    ></button>
  </p-footer>
</p-dialog>
